# Dependencies
node_modules/
.pnpm-store/
venv/
__pycache__/
*.pyc

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
*.egg-info/

# Uploads & Temp files
server/uploads/*
!server/uploads/.gitkeep

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
