PORT=5000
NODE_ENV=development
JWT_SECRET=civicfix_secret_jwt_token_key_2026

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=civicfix_db
DB_USER=civicfix_user
DB_PASS=civicfix_secret

AI_SERVICE_URL=http://localhost:8000
